<% provide(:title, "New Graduate Students") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Getting set up as a New Graduate Student in Neuroscince:</h2>

				<h3 class="hub_para">First you must get your FSU.EDU email set before you move forward.</h3>
				<p class="hub_para">You must have an active fsu.edu account to establish a neuroscience email account.  Log on to my.fsu.edu. Click on the link on the left hand side for FSUID Identity Management.  Activate your fsu.edu account. Note: this in not your <i>xyz18@my.fsu.edu</i>. Once completed, your neuroscience account can be established. If you do not have an option to activate this account, contact the departmental personnel in charge of your appointment and make sure you are in the system for a faculty/staff email account. </p>
				
				<p class="hub_para">Once your fsu.edu account is established, you or your PI may open a support ticket with the following information:
					<ul class="hub_para">
						<li>Full name of new Student</li>
						<li>Name of PI</li>
						<li>Office or Lab Location (Building Code and Room number)</li>
						<li>Office or Lab Phone Number</li>
						<li>FSU.EDU email address (see above)</li>
						<li>Status (Grad Student)</li>
					</ul>
				</p>

				
				
				
			</div>


	</div>

	
</div>