<% provide(:title, "New Graduate Students") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Getting set up as a new graduate student:</h2>

				<h3 class="hub_para">First you must get your FSU.EDU email set before you move forward.</h3>
				<p class="hub_para">Do do this, please log into my.fsu.edu. From there, you will click on the link on the left hand side for FSUID Identity Management. In this screen you should be able to activate your fsu.edu account. Once again, this is NOT your my.fsu.edu. Once you get this done, then I can proceed. If you have any problems, please let me know. IF you do not have an option to activate this account, please talk to the person in charge of your appointment and make sure you are in the system to be able to have a faculty/staff email account. </p>
				
				<p class="hub_para">Please have your PI open a support ticket with the following information:
					<ul class="hub_para">
							<li>Full name of new postdoc or lab personnel</li>
							<li>Name of PI</li>
							<li>Office or Lab Location (Building Code and Room number)</li>
							<li>Office or Lab Phone Number</li>
							<li>FSU.EDU email address</li>
							<li>Status (Postdoc, Lab Tech, or Lab Manager)</li>
							<li>PUBMED author name (i.e. FI LASTNAME)</li>
						</ul>
				</p>
				

				
				<h2 class="hub_para"></h2>
				<p class="hub_para"></p>

				<p class="hub_para"></p>

				<p class="hub_para"></p>
				
				
			</div>


	</div>

	
</div>