<% provide(:title, "Outreach") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('banners/outreach_b.jpg') %>
		</div>
		<h1> </h1>

		<div class="hub_para">
			<h4>FSU Neuroscience Involvement & Outreach</h4>

			<p>Along with the North Florida Chapter of the Society for Neuroscience, the FSU Program in Neuroscience engages the local community with a number of outreach activities.  These include Brain Awareness Week, the annual North Florida Brain Bee, and the annual Brain Fair.  Our mission is to enhance local community knowledge about the scientific study of the brain, particularly neuroscience education at the K-12 level. To this end, we are committed to:</p>

			<p>
				 <ol>
				 	<li>Educating local and statewide K-12 students about the importance of brain research.</li>
				 	<li>Encouraging K-12 educators to incorporate neuroscience curriculum into their classroom.</li>
				 	<li>Training and inspiring talented high school/college students to pursue Neuroscience-related careers.</li>
				 </ol>
			</p> 
			<br />
		</div> 
		    
		<div id="hub_left" class="col-sm-6 clearfix">    
			<ul>
				
				<li><%= link_to 'Brain Awareness Week', '/students/awareness', :class => 'aware_link' %></li>
				<li><%= link_to 'Brain Bee', '/students/bee', :class => 'bbee_link' %></li>
			</ul>
		</div>

		<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Brain Fair', '/students/fair', :class => 'bfair_link' %></li>
		</ul>
	</div>



	</div>
</div>

    
    
    
