<% provide(:title, "Prospective Students") %>



	<div class="row">
		<div id="hub_text" class="col-sm-12">
			<div class="hub_header_image">
				<%= image_tag ('banners/prop_b.jpg') %>
			</div>
			<h1> </h1>
			<p class="hub_para">Degree programs focused on the study of the brain are available to both undergraduate and graduate students at Florida State University.  We offer the only formal training towards undergraduate and graduate Neuroscience degrees in the State University System of Florida –  to see for yourself, visit the <%= link_to "Academic Program Inventory", 'https://prod.flbog.net:4445/pls/apex/f?p=136:45:::NO:::', :target => "_blank" %> and then enter “Neuroscience” in the search box.</p>
			
		</div>

		<div id="hub_left" class="col-sm-6 clearfix">
			<ul>
				<li><%= link_to 'Undergraduate Degree', '/ug/ughub', :class => 'ug_link' %></li>
			</ul>
		</div>
		<div id="hub_right" class="col-sm-6 clearfix">
			<ul>
				<li><%= link_to 'Graduate Program', '/gr/grhub', :class => 'gr_link' %></li>
			</ul>
		</div>
	</div>