<% provide(:title, "Curriculum") %>

<div class="hub_wrap">
	<div id="hub_text">

		<h1>Curriculum for Graduate Program in Neuroscience</h1>
		<p>Details on the curriculum may be found in the <%= link_to "Graduate Student Handbook", asset_path("gradhandbook.pdf"), :target => "_blank" %>.</p>

		<p>Students entering our program immediately begin working on research in the laboratory of their chosen major professor.  First and second-year students take a series of required courses, and then there are a number of electives from which students may choose to complete their individual programs of study.</p>

		<p><b>Required Courses (offered every year)</b>
			<ul>
				<li>PCB 5845 - Cell and Molecular Neuroscience</li>
				<li>PSB 5341 - Systems and Behavioral Neuroscience</li>
				<li>PSB 5230C - Vertebrate Neuroanatomy</li>
				<li>PSB 5057 - Neuroscience Methods: Molecules to Behavior</li>
				<li>PSB 5077 - Responsible Conduct of Research</li>
				<li>PSY 6919 - Research Design and Analysis I*</li>
				<li>BSC 5936 - Quantitative Methods*</li>
				<li><small>*Take one or the other to fulfill statistics requirement</small></li>
			</ul>
		</p>

		<p><b>Core Electives (Take at least 1 from each cluster: A and B)</b>
			<ul>
				<li><b>A. Molecular/Physiological Cluster (offered every two or three years)</b></li>
				<ul>
					<li>PCB 5786 - Membrane Biophysics (Advanced Neurophysiology)</li>
					<li>PCB 5795 - Sensory Physiology</li>
					<li>PCB 5137 - Advanced Cell Biology*</li>
					<li>GMS 5700 - Developmental Neuroscience</li>
					<li>PCB 5525 - Molecular Biology</li>
					<li>PCB 5595 - Advanced Molecular Biology**</li>
					<li>MAP 5932 - Introduction to Computational Neuroscience</li>
					<li><small>* Committee may require a second physiology course in addition to PCB 5137</small></li>
					<li><small>**Requires a strong foundation in Molecular Biology.</small></li>
				</ul>
				<li><b>B. Behavioral Cluster (offered every two or three years)</b></li>
				<ul>
					<li>EXP 5406 - Neurobiology of Learning and Memory</li>
					<li>PSB 6059 - Seminar in Physiological Psychology: Behavioral Endocrinology</li>
					<li>PSB 5347 - Neuropharmacology</li>
					<li>EXP 5717 - Animal Psychophysics</li>
					<li>PSB 6059 - Seminar in Physiological Psychology: Neurobiology of Social Behavior</li>
					<li>PSB 6048 - Affective Neuroscience</li>
				</ul>
			</ul>
		</p>

		<p><b>Laboratory Rotation Requirement</b>
			<ul>
				<li>Two semesters of lab rotation, completed outside your home lab, are required.  Enroll in two separate sections of Directed Individual Study to complete this requirement.</li>
			</ul>
		</p>

		<p><b>Grant Writing Course (offered every year)</b>
			<ul>
				<li>PSY 6919 – for students wishing to prepare an individual NRSA Proposal (F31).</li>
			</ul>
		</p>

		<p><b>Weekly Events</b>
			<ul>
				<li>PSB 6920 – Neuroscience Colloquium Series – Fall and Spring semesters – invited speakers.</li>
				<li>PSB 6933 – Seminar in Neuroscience – Fall and Spring semesters – lunch with invited speakers.</li>
				<li>PSB 6933 – Seminar in Neuroscience – Summer semester – talks by 1st-year graduate students.</li>
			</ul>
		</p>

		<p><b>Annual Events</b>
			<ul>
				<li>Rushton Lectures – features presentations by prominent neuroscientists on contemporary topics.</li>
				<li>Smith Lecture – features an internationally-renowned speaker who conducts behaviorally-oriented research.</li>
			</ul>
		</p>


</div>
</div>


 
