<% provide(:title, "Neuroscience Colloquium") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag('banners/coll_b.jpg') %>
		</div>
		<div id="hub_text">
			
			<h1> </h1>
			<p class="hub_para">The Neuroscience Colloquium series features invited talks by neuroscientists from around the world.  Colloquia are held on Wednesdays at 3:30 pm in Room A211 of the Psychology building (PDB).  Please see the <%= link_to 'Neuroscience calendar', 'http://calendar.fsu.edu/Lists/Program%20in%20Neuroscience/calendar.aspx', :target => "_blank" %> for the dates of upcoming colloquium talks.</p>

			<h3 class="hub_para">2015-16 Speakers</h3>
			<ul class="hub_para">
				<li style="padding-bottom:7px">Dr. Peter Hitchcock (University of Michigan)</li>
				<li style="padding-bottom:7px">Dr. Maureen McCall (University of Louisville)</li>
				<li style="padding-bottom:7px">Dr. Kevin Myers (Bucknell University)</li>
				<li style="padding-bottom:7px">Dr. David Perkel (University of Washington)</li>
				<li style="padding-bottom:7px">Dr. Dana Small (Yale University)</li>
				<li style="padding-bottom:7px">Dr. Wolfgang Langhans (Swiss Federal Institute of Technology (ETH), Zurich)</li>
				<li style="padding-bottom:7px">Dr. Andre Fenton (New York University)</li>
				<li style="padding-bottom:7px">Dr. Ken Catania (Vanderbilt University)</li>
				<li style="padding-bottom:7px">Dr. Jason Sanchez (Northwestern University)</li>
				<li style="padding-bottom:7px">Dr. Brad Postle (University of Wisconsin- Madison)</li>
				<li style="padding-bottom:7px">Dr. Charles Hubscher (University of Louisville School of Medicine)</li>
				<li style="padding-bottom:7px">Dr. Alan Watts (University of Southern California)</li>
			</ul>


			<h3 class="hub_para">2014-15 Speakers</h3>
			<ul class="hub_para">
				<li style="padding-bottom:7px">Dr. Kristin Scott (University of California, Berkeley)</li>
				<li style="padding-bottom:7px">Dr. Michael Shipley (University of Maryland School of Medicine)</li>
				<li style="padding-bottom:7px">Dr. Zhen Yan (SUNY Buffalo School of Medicine and Biomedical Sciences)</li>
				<li style="padding-bottom:7px">Dr. Andrey Ryabinin (Oregon Health & Science University)</li>
				<li style="padding-bottom:7px">Dr. Nathan Schoppa (University of Colorado School of Medicine)</li>
				<li style="padding-bottom:7px">Dr. Alicia Izquierdo (University of California, Los Angeles)</li>
				<li style="padding-bottom:7px">Dr. J. Patrick Card (University of Pittsburgh)</li>
				<li style="padding-bottom:7px">Dr. Martin Myers (University of Michigan)</li>
				<li style="padding-bottom:7px">Dr. Matt Wilson (Massachusetts Institute of Technology)</li>
			</ul>


			<h3 class="hub_para">2013-14 Speakers</h3>
			<ul class="hub_para">
				<li style="padding-bottom:7px">Dr. Rosalind Sadleir (Arizona State University)</li>
				<li style="padding-bottom:7px">Dr. Gregg Roman (University of Houston)</li>
				<li style="padding-bottom:7px">Dr. Stefan Trapp (Imperial College London)</li>
				<li style="padding-bottom:7px">Dr. Mike Burger (Lehigh University)</li>
				<li style="padding-bottom:7px">Dr. Claude Desplan (New York University)</li>
				<li style="padding-bottom:7px">Dr. Susan Travers (The Ohio State University)</li>
				<li style="padding-bottom:7px">Dr. Dave Pittman (Wofford College)</li>
				<li style="padding-bottom:7px">Dr. Laura Conforti (University of Cincinnati)</li>
				<li style="padding-bottom:7px">Dr. Jun-Xu Li (SUNY Buffalo)</li>
			</ul>

			
		</div>
	</div>
</div>
