<% provide(:title, "Rushton 2015 Symposium") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag('banners/rush15_b.jpg') %>
		</div>
		<div id="hub_text">
			<h3 class="hub_para"><%= link_to 'Rushton Symposium', '/events/rushton' %> presents:</h3>
			<h1 class="hub_para">Special Alumni Edition</h1>
			<h3 class="hub_para">January 25, 2015</h3>

			<p class="hub_para">Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

			<h3 class="hub_para">The Speakers:</h3>
			<br />
			    <h4 class="hub_para"><strong>Dr. Jessica Brann</strong></h4>
			    <p class="hub_para">Loyola University Chicago</p>
			<br />
			<p class="hub_para"><strong><i>Fountain of Youth? Probing the "Age" of Neural Stem Cells</i></strong></p>

			<br />
			    <h4 class="hub_para"><strong>Dr. Angie Cason</strong></h4>
			    <p class="hub_para">Medical University of South Carolina</p>
			<br />
			<p class="hub_para"><strong><i>Hypothalamic Orexin and Conditional Food Seeking</i></strong></p>

			<br />
			    <h4 class="hub_para"><strong>Dr. David Dietz</strong></h4>
			    <p class="hub_para">Buffalo Univeristy: State University of New York at Buffalo</p>
			<br />
			<p class="hub_para"><strong><i>The Addicted Synapse: Mechanism of Synaptic Plasticity</i></strong></p>
			
			<br />
			    <h4 class="hub_para"><strong>Dr. Christie Fowler</strong></h4>
			    <p class="hub_para">University of California, Irvine</p>
			<br />
			<p class="hub_para"><strong><i>Neural Circuits Mediating Reward and Aversion in Nicotine Addiction</i></strong></p>

			<br />
			    <h4 class="hub_para"><strong>Dr. Eric Krause</strong></h4>
			    <p class="hub_para">University of Florida</p>
			<br />
			<p class="hub_para"><strong><i>Osmotic Dehydration Reveals Oxytocinergic Circuits that Dampen Stress Responsiveness and Promote Social Behavior</i></strong></p>

			<br />
			    <h4 class="hub_para"><strong>Dr. Alexander Nicholas</strong></h4>
			    <p class="hub_para">The Lemelson Foundation</p>
			<br />
			<p class="hub_para"><strong><i>Re-Imagining the Role of Scientist in Society</i></strong></p>

			<br />
			    <h4 class="hub_para"><strong>Dr. Chad Samuelsen</strong></h4>
			    <p class="hub_para">Stony Brook University: State University of New York</p>
			<br />
			<p class="hub_para"><strong><i>Cortical Integration of Anticipatory, Gustatory and Olfactory Signals</i></strong></p>

			<br />
			    <h4 class="hub_para"><strong>Dr. Brandy Wilkinson</strong></h4>
			    <p class="hub_para">Champions Oncology Inc.</p>
			<br />
			<p class="hub_para"><strong><i>PDX Models for Improved Translational Research and Preclinical Prediction</i></strong></p>
			

			<br />	

			<p class="hub_para">The Rushton Lecture Series is made possible by generous contributions from the Program in Neuroscience at FSU, SGA-COGS (NGSA), TMH, VWR & Charles River. </p>

		</div>
	</div>
</div>