<% provide(:title, "Rushton 2011 Symposium") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h3><%= link_to 'Rushton Symposium', '/events/rushton' %> presents:</h3>
		<h1>It's About Time: Biological Clocks and Neural Function</h1>
		<h3>April 8 - 9, 2011</h3>

		<p>Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

		<h3>The Speakers:</h3>
		<br />
		    <strong>David K. Welsh, MD, PhD</strong><br />
		    Department of Psychiatry<br />
			University of California, San Diego<br />
		<br />
		<p><strong>Dr. Welsh studies circadian rhythms in single cells using bioluminescence imaging, multielectrode arrays, and fluorescence imaging. His lab is interested in the autonomy, heterogeneity, and coupling of cellular circadian clocks, particularly the neurons of the hypothalamic suprachiasmatic nucleus. He is also interested in how defects in these mechanisms may contribute to sleep and circadian rhythm disorders in humans.</strong></p>

		<br />

		   <strong>Douglas G. McMahon, PhD</strong><br />
		    Silvio O. Conte Neuroscience Research Center<br />
			Center for Molecular Neuroscience<br />
			Vanderbilt University<br />
		<br />
		<p><strong>The McMahon lab studies the mechanisms of plasticity as they are expressed in three linked subsystems of the central nervous system - the visual, circadian and serotonergic systems that mediate our sense of sight, drive our daily rhythms and influence our mood. Specifically, Dr. McMahon investigates key populations of neurons that regulate plasticity through release of the modulatory biogenic amine transmitters, dopamine and serotonin, or that generate endogenous daily rhythms through gene-driven processes within neurons. Mechanistically, he focuses on synaptic ion channel signaling and how it is influenced by inter-neuronal modulation, the regulation of autonomous neuronal activity for neurosecretion, and circadian rhythms and gene expression dynamics as a functional measure of neural activity in living neuronal ensembles.</strong></p>

		<br />

		  <strong>Dr. Paul Taghert</strong><br />
		    Professor of Anatomy and Neurobiology<br />
			Washington University<br />
		<br />
		<p><strong>Dr. Taghert’s research focuses on neuropeptide signaling from circadian pacemaker neurons and the coordination and sunchronization of oscillatory neurons. Using a multilevel approach encompassing pharamacology, behavioral genetics and imaging studies, Dr. Taghert’s lab has demonstrated that the neuropeptide PDF is the principal neurotransmitter released by a subset of critical pacemaker neurons. Additionally, key studies from his lab have identified and mapped the PDF receptor. Ongoing research includes defining the signaling pathways through which the PDF pathway synchronizes oscillatory neurons and identifying the interactions between different circadian neurons.</strong></p>

		<br />

		  <strong>Dr. Paul Hardin</strong><br />
		    Distinguished Professor, Department of Biology<br />
			Texas A&M<br />
		<br />
		<p><strong>Work in Dr. Paul Hardin's laboratory focuses on understanding the molecular circuitry that underlies circadian clock function in the fruit fly, Drosophila melanogaster. Pioneering studies from his laboratory have greatly contributed to our current understanding of how the molecular clock works in animals.</strong></p>

		<br />

		  <strong>Dr. Karl Obrietan</strong><br />
		  	Department of Neuroscience, College of Medicine<br />
			Ohio State University<br />
		<br />
		<p><strong>Research in Dr. Obrietan’s lab targets the molecular pathways through which light provides input to the core circadian oscillator to affect circadian timing. In particular, Dr. Obrietan’s research has provided significant insight into the role of the MAPK signaling pathway in conveying photic input to the oscillator, the role of the mTOR pathway and has revealed a role for microRNAs in regulation of oscillator function.</strong></p>

		<br />

		  <strong>Dr. Phyllis Zee</strong><br />
		    Associate Director, Center for Sleep and Circadian Biology<br />
			Professor, Northwestern University Institute for Neuroscience<br />
		<br />
		<p><strong>Dr. Phyllis Zee studies how aging alters the circadian clock system of mammals and its relationship to circadian rhythms and sleep disorders in humans. Basic and clinical studies from her laboratory paved the way to novel treatments for disorders associated with circadian clock dysfunction, especially in the elderly. </strong></p>

		<br />

	</div>
</div>



















