<% provide(:title, "Rushton 2012 Symposium") %>

<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('banners/rush12_b.jpg') %>
	</div>
	<div id="hub_text">
		<h3><%= link_to 'Rushton Symposium', '/events/rushton' %> presents:</h3>
		<h1>The fractured mind: Autism & schizophrenia</h1>
		<h3>April 13 - 14, 2011</h3>

		<p>Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

		<h3>The Speakers:</h3>
		<br />
		    <strong>Deanna Barch, Ph.D.</strong><br />
		    Psychology, Psychiatry, & Radiology<br />
			Washington University<br />
		<br />
		<p><strong>Psychological and neural mechanisms of reward processing and motivation in schizophrenia</strong></p>

		<br />	

		    <strong>Jocelyne Bachevalier, Ph.D.</strong><br />
		    Psychology & Yerkes National Primate Research Center<br />
			Emory University<br />
		<br />
		<p><strong>What can non-human primate neonatal lesion models teach us about human developmental psychopathology?</strong></p>

		<br />

		    <strong>Guoping Feng, Ph.D.</strong><br />
		    Brain & Cognitive Sciences<br />
			McGovern Institute for Brain Research at MIT<br />
		<br />
		<p><strong>Synaptic and Circuitry Mechanisms of Compulsive/Repetitive Behaviors in OCD and Autism</strong></p>

		<br />

		    <strong>Stephen Glatt, Ph.D.</strong><br />
		    Psychiatry & Behavioral Sciences, Neuroscience & Physiology<br />
			SUNY Upstate Medical<br />
		<br />
		<p><strong>Points of Convergence in the Molecular Genetics of Schizophrenia- and Autism-Spectrum Disorders</strong></p>

		<br />

		    <strong>Anthony Grace, Ph.D.</strong><br />
		    Neuroscience, Psychiatry, & Psychology<br />
			University of Pittsburgh<br />
		<br />
		<p><strong>Dopamine System Dysregulation by the Hippocampus and the Pathophysiology of Schizophrenia</strong></p>
		<p></p>

		<br />

		    <strong>Atsushi Kamiya, M.D., Ph.D.</strong><br />
		    Psychiatry & Behavioral Sciences<br />
			Johns Hopkins<br />
		<br />
		<p><strong>Genetic risk factors for major mental disorders in prefrontal cortex development and function</strong></p>
		<p></p>

		<br />

		    <strong>Amy Wetherby, Ph.D.</strong><br />
		    Clinical Sciences, Psychology, & FSU Autism Institute<br />
			Florida State University<br />
		<br />
		<p><strong>Improving Early Detection of Autism Spectrum Disorders with an Eye toward Early Intervention</strong></p>
		

		<br />	

		<p>The Rushton Lecture Series is made possible by generous contributions from the Program in Neuroscience at FSU, SGA-COGS (NGSA), TMH, VWR & Charles River. </p>

	</div>
</div>