<% provide(:title, "Rushton 2017 Symposium") %>

<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('banners/rush17_b.jpg') %>
	</div>
	<div id="hub_text">
		<h3><%= link_to 'Rushton Symposium', '/events/rushton' %> presents:</h3>
		<h1>Affective Disorders: Causes and Treatments</h1>
		<h3>March 24-25, 2017</h3>
		
		<p>Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

		<p><%= link_to 'View pictures from this event.', 'https://www.flickr.com/photos/130941966@N03/albums/72157683063678686' %></p>

		<h3>The Speakers:</h3>
		    <strong>Dr.Ronald Duman</strong><br />
			Department of Psychiatry<br />
		    Yale School of Medicine<br />
		<br />
		<p><strong>Neurobiology of Stress, Depression, and Antidepressants: Rapid Remodeling of Synaptic Connections</strong></p>
		<p>Chronic stress and depression decrease neurotrophic support and cause atrophy of neurons in brain regions implicated in depression, including the prefrontal cortex (PFC) and hippocampus. Conversely, a single dose of the fast acting antidepressant ketamine rapidly increases synaptic number and function in the PFC and these effects are dependent on the neurotrophic factor, BDNF. These studies contribute to a neurotrophic and synaptic hypothesis of depression and treatment response. Dr. Duman will present recent findings focused on characterization of the cellular mechanisms underlying the rapid synaptic and behavioral actions of ketamine. This includes studies of the activity dependent effects of ketamine, requirement for BDNF-mTORC1 signaling, and role of GABA interneurons. These studies will further advance our understanding of stress, depression and rapid acting antidepressants and provide a framework for the development of novel therapeutic agents.</p>

		<br />


	    <strong>Dr. Greg Hajcak</strong><br />
	    Department of Psychology<br />
	    Stony Brook<br />
		    
		<br />

		<p><strong>Neural Measures of Human Anxiety and Depression: How We’ve Gotten Almost Nowhere, and Some Cause for Optimism</strong></p>
		<p>Human neuroscience research has produced few significant advances in predicting, treating, and preventing anxiety and depression.  I’ll argue that one major reason for poor progress in clinical neuroscience is a failure to adequately consider the distinction between within- and between-subjects comparisons. Understanding how the brain works, or what a part of the brain does, is most often addressed using within-subjects experimental designs; however, questions about the neuroscience of anxiety and depression requires between-subjects measures.  Robust, group-level neural activation does not imply adequate measurement properties for understanding individual differences.  As a troubling specific example, I’ll present data on amygdala activation to emotional faces.  In addition, I will present promising data on other neural measures that appear to function well as biomarkers of anxiety and depression risk.</p>
		

		<br />


	    <strong>Dr. Thomas Joiner</strong><br />
	    Department of Psychology<br />
	    Florida State University<br />

		<br />
		<p><strong>A Biobehavioral Account of Suicide</strong></p>
		<p>When perceiving a dangerous predation threat, mammalian and other species activate antipredator defensive reactions. These include the seemingly paradoxical activation of overarousal (e.g., agitation, insomnia) and “shutdown” (e.g., mutism, withdrawal) states. Acute suicidal crises, too, are characterized by the co-occurrence of overarousal and “shutdown” behaviors. In the minutes, hours, and days prior to one’s death by suicide, it is not uncommon for one to be simultaneously agitated and socially withdrawn, states that resemble antipredator defensive reactions. I present conceptual, empirical, and clinical support for the conjecture that antipredator defensive reactions may serve as a useful way to understand the phenomenology of a serious suicidal crisis, and I reflect on the implications that soon-to-be suicide decedents are simultaneously killer and victim. This perspective is compatible with an emerging biobehavioral theory construing human suicidal behavior as deranged eusociality.</p>

		<br />


	    <strong>Dr. Francis Lee</strong><br />
	    Department of Psychiatry<br />
	    Weill Cornell Medicine<br />
		    

		<br />
		<p><strong>The Role of BDNF in the Development of Fear Learning</strong></p>
		<p>Brain-derived neurotrophic factor (BDNF) is a growth factor that is dynamically expressed in the brain across postnatal development, regulating neuronal differentiation and synaptic plasticity. The neurotrophic hypothesis of psychiatric mood disorders postulates that in the adult brain, decreased BDNF levels leads to altered neural plasticity, contributing to disease. Our recent developmental studies utilizing a genetic BDNF single nucleotide polymorphism (Val66Met) knock-in mouse highlight the impact of BDNF on fear learning during a sensitive period spanning the transition into adolescent time frame. We hypothesize that BDNF in the developing brain regulates fear circuit plasticity during a sensitive period in early adolescence, and alterations in BDNF expression (genetic or environmental) have a persistent impact on fear regulation contributing to mood disorders with anxiety and fear-related symptoms.</p>

		<br />

		<strong>Dr. Wen Li</strong><br />
		Department of Psychology<br />
		Florida State University<br />

		<br />
		<p><strong>Sensory Mechanisms of Anxiety</strong></p>
		<p>Anxiety and related disorders have been characterized by exaggerated threat processing, and theoretical accounts to date have focused on impaired threat processing and dysregulated prefrontal-cortex-amygdala circuitry. Nevertheless, evidence is accruing for sensory mechanisms underlying anxiety pathology, including broad, threat-neutral sensory aberrations. As low-level, sensory processing impacts higher-order operations, such sensory anomalies can contribute to widespread cognitive and affective deficits, fueling and perpetuating anxiety symptoms. In this talk, I will present recent data from our lab demonstrating biased sensory processing in anxious individuals or patients as well as induced anxious states, arguing for a triangular sensory-prefrontal-cortex-amygdala circuitry underpinning anxiety. This research has motivated new sensory-based anxiety interventions currently being tested in our lab.</p>

		<br />

		<strong>Dr. Lisa Monteggia</strong><br />
		Department of Neuroscience<br />
		UT Southwestern<br />

		<br />
		<p><strong>Mechanism of Rapid Antidepressant Action</strong></p>
		<p>Ketamine is a noncompetitive N-methyl-D-aspartate (NMDA) receptor antagonist the produces a rapid antidepressant response in patients with major depressive disorder and bipolar disorder.  In previous work we showed that ketamine inhibited NMDA receptors at rest to have effects on a specific intracellular signaling pathway.  Ketamine mediated blockade of spontaneous glutamate release mediated activation of NMDA receptors deactivated eukaryotic elongation factor 2 (eEF2) kinase, resulting in reduced eEF2 phosphorylation and desuppression of rapid dendritic protein translation, including BDNF (brain-derived neurotrophic factor) and activation of TrkB receptors in the hippocampus.  Ketamine’s engagement of this pathway resulted in increased surface expression of GluA1 and GluA2 and a potentiation of synaptic responses in the hippocampus.  We demonstrated that the antidepressant effects, as well as the synaptic potentiation, were dependent on AMPA receptors including GluA2.  These data suggest that ketamine’s mechanism of action to homeostatic synaptic plasticity processes is linked to suppression of NMDA-mediated glutamtergic neurotransmission and may have implications for rapid antidepressant action.</p>
		
		<br />

		<strong>Dr. Gerard Sanacora</strong><br />
		Department of Psychiatry<br />
		Yale School of Medicine<br />

		<br />
		<p><strong>Novel Glutamatergic Agents for the Treatment of Mood Disorders: A Clinical Perspective</strong></p>
		<p>There is mounting interest in the use of drugs targeting various components of glutamatergic neurotransmitter system to treat mood and other neuropsychiatric disorders.  This presentation will highlight the rationale for this approach, critically review the emerging data from several clinical trials, and discus the limitations of the studies completed to date.   In specific we will review the available data on the efficacy and safety of ketamine and other putative rapidly acting antidepressant in the context of mechanism of action, practical clinical usefulness, and its ability to inform future drug development.  Additional discussion will examine the potential utility of pursuing other novel glutamatergic targets for clinical drug development.</p>


	</div>