<% provide(:title, "Rushton 2012 Symposium") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag('banners/rush12_b.jpg') %>
		</div>
		<div id="hub_text">
			<h3 class="hub_para"><%= link_to 'Rushton Symposium', '/events/rushton' %> presents:</h3>
			<h1 class="hub_para">The fractured mind: Autism & schizophrenia</h1>
			<h3 class="hub_para">April 13 - 14, 2011</h3>

			<p class="hub_para">Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

			<h3 class="hub_para">The Speakers:</h3>
			<br />
			    <h4 class="hub_para"><strong>Deanna Barch, Ph.D.</strong></h4>
			    <p class="hub_para">Washington University</p>
			<br />
			<p class="hub_para">Psychological and neural mechanisms of reward processing and motivation in schizophrenia</p>

			<br />	

			    <h4 class="hub_para"><strong>Jocelyne Bachevalier, Ph.D.</strong></h4>
			    <p class="hub_para">Emory University</p>
			<br />
			<p class="hub_para">What can non-human primate neonatal lesion models teach us about human developmental psychopathology?</p>

			<br />

			    <h4 class="hub_para"><strong>Guoping Feng, Ph.D.</strong></h4>
			    <p class="hub_para">McGovern Institute for Brain Research at MIT</p>
			<br />
			<p class="hub_para">Synaptic and Circuitry Mechanisms of Compulsive/Repetitive Behaviors in OCD and Autism</p>

			<br />

			    <h4 class="hub_para"><strong>Stephen Glatt, Ph.D.</strong></h4>
			    <p class="hub_para">SUNY Upstate Medical</p>
			<br />
			<p class="hub_para">Points of Convergence in the Molecular Genetics of Schizophrenia- and Autism-Spectrum Disorders</p>

			<br />

			    <h4 class="hub_para"><strong>Anthony Grace, Ph.D.</strong></h4>
			    <p class="hub_para">University of Pittsburgh</p>
			<br />
			<p class="hub_para">Dopamine System Dysregulation by the Hippocampus and the Pathophysiology of Schizophrenia</p>
			<p></p>

			<br />

			    <h4 class="hub_para"><strong>Atsushi Kamiya, M.D., Ph.D.</strong></h4>
			    <p class="hub_para">Johns Hopkins</p>
			<br />
			<p class="hub_para">Genetic risk factors for major mental disorders in prefrontal cortex development and function</p>
			<p></p>

			<br />

			    <h4 class="hub_para"><strong>Amy Wetherby, Ph.D.</strong></h4>
			    <p class="hub_para">Florida State University</p>
			<br />
			<p class="hub_para">Improving Early Detection of Autism Spectrum Disorders with an Eye toward Early Intervention</p>
			

			<br />	

			<p class="hub_para">The Rushton Lecture Series is made possible by generous contributions from the Program in Neuroscience at FSU, SGA-COGS (NGSA), TMH, VWR & Charles River. </p>

		</div>
</div>