<% provide(:title, "Rushton Registration") %>

<div class="hub_wrap">
	<div id="hub_text">
		<H2 align="center">Rushton Lecture Registration</H2>

		<form name="form1" method="post" action='action.php' >

		<p>Please fill out this form.</p>

		<p>Name: <input name="name" type="text" id="name" size="30"></p>

		<p> Department:<BR>
		<input type="radio" value=“Bio” name="dept">  Biology<BR>
		<input type="radio" value=“CoM“ name="dept">  College of Medicine<BR>
		<input type="radio" value=“Psychology” name="dept">  Psychology<BR>
		<input type="radio" value="Other" name="dept">  Other<BR>
		</p>

		<p>Email Address: <input name ="email" type"text" id="email" size="30"></p>

		<p>Status:<BR>
		<input type="radio" value="Faculty" name="status">  Faculty<BR>
		<input type="radio" value="PostDoc" name="status">  PostDoc<BR>
		<input type="radio" value="Grad" name="status">  Graduate Student<BR>
		<input type="radio" value="Undergraduate Student" name="status">  Undergraduate Student<BR>
		<input type="radio" value="MD" name="status">  Exterior MD<BR>
		<input type="radio" value="Other" name="status">  Other<BR>
		</p>

		<p>Will you be presenting a poster?<BR>
		<input type="radio" value="Yes" name="poster">  Yes<BR>
		<input type="radio" value="No" name="poster">  No<BR>
		</p>

		<p>Poster Title: <input name="title" type="text" id="title" size="30"></p>

		<p>When you are finished, please click the submit button. Please note that you will be redirected to the Rushton Main
		 Website once you do click submit.</p>

		<p><input type="submit" name="Submit" value="Submit"></p>

		</form>

			
	</div>

	
</div>