<% provide(:title, "Rushton 2013 Symposium") %>

<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('banners/rush13_b.jpg') %>
	</div>
	<div id="hub_text">
		<h3><%= link_to 'Rushton Symposium', '/events/rushton' %> presents:</h3>
		<h1>Optogenetics and Related Techniques: Brain Curcuit Function Revealed</h1>
		<h3>March 22-23, 2013</h3>

		<p>Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

		<h3>The Speakers:</h3>
		<br />
		    <h4><strong>Dr. Richard Kramer</strong></h4>
		    University of California at Berkeley<br />
		<br />
		<p><strong><i>Inventing and Using Photochemical Tools for Controlling Neurons with Light</i></strong></p>

		<br />
		    <h4><strong>Dr. Garret Stuber</strong></h4>
		    University of North carolina School of Medicine<br />
		<br />
		<p><strong><i>Dissecting the Neural Circuitry that Mediates Reward and Aversion</i></strong></p>

		<br />
		    <h4><strong>Dr. David Dietz</strong></h4>
		    University at Buffalo, SUNY<br />
		<br />
		<p><strong><i>Cocaine-Induced Neuroplasticity: How GTPases Mediate Drug Addiction</i></strong></p>

		<br />
		    <h4><strong>Dr. Patrice Guyenet</strong></h4>
		    University of Virginia School of Medicine<br />
		<br />
		<p><strong><i>C1 Neurons: The Brain's EMTs</i></strong></p>

		<br />
		    <h4><strong>Dr. Mark Mayford</strong></h4>
		    The Scripps Research Institute<br />
			<br />
		<br />
		<p><strong><i>Genetic Control of Memory Circuits</i></strong></p>
		

		<br />	

		<p>The Rushton Lecture Series is made possible by generous contributions from the Program in Neuroscience at FSU, SGA-COGS (NGSA), TMH, VWR & Charles River. </p>

	</div>
</div>