<% provide(:title, "Degree Admission") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Degree Admission</h1>

		<p>Upon admission to Florida State University, students interested in the Neuroscience degree should declare a major in Cell and Molecular Neuroscience or a major in Behavioral Neuroscience.  Students work with the <%= link_to 'Neuroscience Advisor', '/ug/advising' %> to ensure appropriate course selection.  For students who enter FSU as freshmen a list of recommended liberal studies courses that meet the University Liberal Studies requirement, the College of Arts and Sciences language requirement, and graduation requirements are available to develop the foundation for progress through the degree.</p>

		<p>For certification and progression to upper-division status, students must satisfy the following requirements:
			<ul>
				<li>• A minimum GPA of 2.8 over all lower-division courses attempted.</li>
				<li>• Completion of at least 52 academic credits or an A.A. Degree.</li>
				<li>• All prerequisite coursework must be completed with a grade of C or higher in each course.</li>
				<li>• A preliminary meeting with the <%= link_to 'Neuroscience Advisor', '/ug/advising' %> to discuss program requirements and career goals.</li>
				<li>• Certification and admission to upper-division status can occur during any semester (Fall, Spring, Summer).</li>
			</ul>
		</p>
		
	</div>

	
</div>
