<% provide(:title, "Admission") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1 class="hub_para">How to apply to the Program in Neuroscience</h1>

		<p class="hub_para">Upon admission to the Florida State University, students interested in the Neuroscience degree should declare a major in Cell and Molecular Neuroscience (offered by the Department of Biological Science) or a major in Behavioral Neuroscience (offered by the Department of Psychology).  Students work with the Neuroscience Advisor to ensure appropriate course selection.  For students who enter FSU as freshmen a list of recommended liberal studies courses that meet the University Liberal Studies requirement, the College of Arts and Sciences language requirement, and graduation requirements are available to develop the foundation for progress through the degree.</p>

		<p class="hub_para">For certification and progression to upper-division status, students must satisfy the following requirements:
			<ul>
				<li>A minimum GPA of 2.8 over all courses attempted.</li>
				<li>Completion of at least 52 academic credits or an A.A. Degree.  All prerequisite coursework must be completed with a grade of C or higher in each course.</li>
				<li>A preliminary meeting (FSU student) or phone call (FCS or transfer students) with the Neuroscience Advisor to discuss program requirements and career goals.  This contact should occur as students reach completion of lower-division prerequisite coursework.  For all students (FSU students and FCS or other transfer students), certification and admission to upper-division status will require an in-person meeting with the Neuroscience Advisor.  Certification and admission to upper-division status can occur during any semester (Fall, Spring, Summer).</li>
			</ul>
		</p>
		
		<p class="hub_para">Please check our <%= link_to 'Frequently Asked Questions', '/prospect/faq' %> for more information, and if there are additional questions not discussed there, contact:</p>
		<ul>
			<li>Janice Parker</li>
			<li>Program Administrator</li>
			<li>Program in Neuroscience</li>
			<li>Florida State University</li>
			<li>1107 W Call St. Room C241</li>
			<li>Tallahassee, FL 32306-4301</li>
			<li>(850) 644-3076</li>
		</ul>
	</div>

	
</div>
