<% provide(:title, "Degree Admission") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Degree Admission</h1>

		<p>Upon admission to Florida State University, students interested in the Neuroscience degree should declare a major in Cell and Molecular Neuroscience or a major in Behavioral Neuroscience.  Students work with the <%= link_to 'Neuroscience Advisor', '/ug/advising' %> to ensure appropriate course selection.  For students who enter FSU as freshmen a list of recommended liberal studies courses that meet the University Liberal Studies requirement, the College of Arts and Sciences language requirement, and graduation requirements are available to develop the foundation for progress through the degree. Prospective transfer students should contact <%= mail_to "as-admissions@fsu.edu", "Ms. Shellie Camp" %> with specific questions about admission and mapping requirements.</p>

		<p>For certification and progression to upper-division status, students must satisfy the following requirements:
			<ul>
				<li>• A minimum GPA of 2.80 in all college-level courses attempted.</li>
				<li>• Completion of the following courses with a grade of “C minus” or higher:</li>
					<ul>
						<li>BSC X010, X010L (3, 1) Biological Science I and Lab</li>
						<li>BSC X011, X011L (3, 1) Biological Science II and Lab</li>
						<li>CHM X045, X045L (3,1) General Chemistry I and Lab</li>
						<li>CHM X046, X046L (3,1) General Chemistry II and Lab</li>
						<li>MAC X311 (4) Calculus I</li>
						<li>STA X0XX (3) Statistics: STA 2122 (3) <i>preferred</i></li>
					</ul>
				<li>• Completion of at least 52 academic credits or an A.A. Degree.</li>
				<li>• A preliminary meeting with the <%= link_to 'Neuroscience Academic Advisor', '/ug/advising' %> to discuss program requirements and career goals.</li>
			</ul>
		</p>

		<p>
			Certification and admission to upper-division status can occur during any semester (Fall, Spring, Summer).
		</p>
		
	</div>

	
</div>
