<% provide(:title, "Advising") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1 class="hub_para">Advising</h1>

		<p class="hub_para">Text for Advising</p>

		<p class="hub_para">
		</p>
		
		<p class="hub_para"></p>
		
	</div>

	
</div>
