<% provide(:title, "Coursework Sequence") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Coursework Sequence</h1>

		<p>The FSU Program in Neuroscience offers an undergraduate degree with 2 majors – the Cell and Molecular Neuroscience major (associated with the FSU Department of Biological Science) and the Behavioral Neuroscience major (associated with the FSU Department of Psychology).  Graduation requirements, degree prerequisite courses, and degree core courses are the same for both majors.  The 2 majors differ in the selection of degree elective courses – the Cell and Molecular Neuroscience major emphasizes the development, anatomy, and physiology of the brain, whereas the Behavioral Neuroscience major emphasizes systems, organismal, and human-level approaches to the brain.</p>

		<p class="hub_para">
			<div class="panel-group" id="accordion">

			  	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Graduation Requirements Summary</a>
						</h2>
					</div>

					<div id="collapse1" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>
		      					<ul>
		      						<li>• Total Hours Required:  120</li>
									<li>• Liberal Studies:  36 Hrs (take PSY 2012 to fulfill Social Science requirement)</li>
									<li>• Prerequisite Coursework: 37 Hrs (13 Hrs of the Prerequisite Coursework also fulfill Liberal Studies requirement)</li>
									<li>• Major Coursework: 33 Hrs</li>
									<li>• Minor Coursework:  0 (none beyond collateral science coursework, which constitutes a minor)</li>
									<li>• Foreign Language:  0-12 Hrs (College of Arts and Sciences Requirement)</li>
									<li>• Computer Skills:  BSC 2010L or PSY 3213C</li>
									<li>• Oral Communication Competency:  SPC1017 or SPC2608</li>
									<li>• Scholarship in Practice:  PSY 3213C</li>
									<li>• Cross Cultural & Diversity:  Combine with E-series courses (IFS) to fulfill Liberal Studies requirement.</li>
									<li>• Natural Science Laboratory: CHM 1045L</li>
									<li>• Upper Division Writing Competency:  PSY 3213C</li>
		      					</ul>
		      				</p>
		      			</div>
		      		</div>
		      	</div>

		      	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Degree Prerequisite Courses (37-39 Hrs*)</a>
						</h2>
					</div>

					<div id="collapse2" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>
		      					<table class="table table-sm" cellpadding=0 cellspacing=0>
								    <!--Table head-->
								    <thead>
								        <tr>
								            <th>Biology</th>
								            <th>Chemistry</th>
								            <th>Physics</th>
								            <th>Math</th>
								        </tr>
								    </thead>
								    <!--Table head-->

								    <!--Table body-->
								    <tbody>
								        <tr>
								            <td>
								                <ul style="list-style:none; padding:0">
								                    <li><small><b>BSC2010/L (4)</b></small></li>
								                    <li><small>Biological Sci I w/ Lab</small></li>
								                    <li><small><b>BSC 2011/L (4)</b></small></li>
								                    <li><small>Biological Sci II w/ Lab</small></li>
								                </ul>
								            </td>
								            <td>
								                <ul style="list-style:none; padding:0">
								                    <li><small><b>CHM 1045/L (4)</b></small></li>
								                    <li><small>General Chem I w/ Lab</small></li>
								                    <li><small><b>CHM 1046/L (4)</b></small></li>
								                    <li><small>General Chem II w/ Lab</small></li>
								                    <li><b><u>      AND</u></b></li>
								                    <li><small><b>CHM 2210 (3)</b></small></li>
								                    <li><small>Organic Chemistry I</small></li>
								                    <li><small><b>CHM 2211 (3)</b></small></li>
								                    <li><small>Organic Chemistry II</small></li>
								                    <li><b><u>OR</u></b></li>
								                    <li><small><b>CHM 3217/L (4)</b></small></li>
								                    <li><small>One Semester Organic Chemistry w/ Lab</small></li>
								                    <li><small><b>CHM 3218 (4)</b></small></li>
								                    <li><small>One Semester Biochemistry</small></li>
								                </ul>
								            </td> 
								            <td>
								            	<ul style="list-style:none; padding:0">
								            		<li><small><b>PHY 2053C (4)</b></small></li>
								                    <li><small>College Physics A</small></li>
								                    <li><small><b>PHY 2054C (4)</b></small></li>
								                    <li><small>College Physics B</small></li>
								                    <li><b><u>OR</u></b></li>
								                    <li><small><b>PHY 2048C (5)</b></small></li>
								                    <li><small>General Physics A</small></li>
								                    <li><small><b>PHY 2049C (5)</b></small></li>
								                    <li><small>General Physics B</small></li>
								            	</ul>
								            </td>
								            <td>
								                <ul style="list-style:none; padding:0">
								                    <li><small><b>STA 2122 (3)</b></small></li>
								                    <li><small>Intro to Applied Stat</small></li>
								                    <li><small><b>MAC 2311 (4)</b></small></li>
								                    <li><small>Calculus I</small></li>
								                </ul>
								            </td>   
								        </tr>
								    </tbody>
								    <!--Table body-->

								</table>
								<!--Table-->
		      				</p>
		      				<p><small>*Credit Hours can be as high as 39 if students choose to take the PHY 2048C – PHY 2049C Physics sequence, or the CHM 3217/L – CHM 3218 Chemistry sequence.</small></p>
		      			</div>
		      		</div>
		      	</div>

		      	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Degree Core Courses (16 Hrs)</a>
						</h2>
					</div>

					<div id="collapse3" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>
		      					<ul>
		      						<li><b>PCB 3134</b> Cell Structure and Function (3)</li>
		      						<li><b>PSY 3213C</b> Research Methods (4)</li>
		      						<li><b>PCB 4843</b> Fundamentals of Neuroscience (3)</li>
		      						<li><b>PSB 3004C</b> Physiological Psychology with Brain Anatomy Lab (4)</li>
		      						<li><b>PSB 4057</b> Molecules to Behavior (2)</li>
		      					</ul>
		      				</p>
		      			</div>
		      		</div>
		      	</div>

		      	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Degree Elective Courses (17 Hrs)</a>
						</h2>
					</div>

					<div id="collapse4" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>
		      					<table class="table table-sm">
								    <!--Table head-->
								    <thead>
								        <tr>
								            <th>Biological Science Electives</th>
								            <th>Psychology Electives</th>
								        </tr>
								    </thead>
								    <!--Table head-->

								    <!--Table body-->
								    <tbody>
								        <tr>
								            <td>
								                <ul>
								                    <li>PCB 3063 General Genetics (3)</li>
								                    <li>PCB 4024 Molecular Biology (3)</li>
								                    <li>PCB 4024L Molecular Biology Lab (1)</li>
								                    <li>PCB 4233 Immunology (3)</li>
								                    <li>PCB 4233L Immunology Lab (1)</li>
								                    <li>PCB 4244 Biology of Aging (3)</li>
								                    <li>PCB 4253 Developmental Biology (3)</li>
								                    <li>PCB 4701 Human Physiology (3)</li>
								                    <li>BSC 4731L Experimental Physiology Lab (2)</li>
								                    <li>BSC 4900 Directed Individual Study (1-6)</li>
								                    <li>ZOO 3713C Comparative Vertebrate Anatomy (4)</li>
								                    <li>ZOO 4343C Biol of Lower Vertebrates (4)</li>
								                    <li>ZOO 4353C Biol of Higher Vertebrates (4)</li>
								                    <li>ZOO 4513 Animal Behavior (4)</li>
								                    <li>ZOO 4753C Histology (4)</li>
								                </ul>
								            </td>
								            <td>
								                <ul>
								                    <li>EXP 3202C Sensation and Perception with Lab (4)</li>
								                    <li>EXP 3422C Conditioning and Learning with Lab (4)</li>
								                    <li>EXP 3604C Cognitive Psychology with Lab (4)</li>
								                    <li>EXP 4640 Psychology of Language (3)</li>
								                    <li>PSB 4006 Social Neuroscience (3)</li>
								                    <li>PSB 4040 Affective Neuroscience (3)</li>
								                    <li>PSB 4240 Neurobiology of Brain Dysfunction (3)</li>
								                    <li>PSB 4447 Psychopharmacology (3)</li>
								                    <li>PSB 4461 Hormones and Behavior (3)</li>
								                    <li>PSB 4710 Biology of Eating Disorders and Obesity (3)</li>
								                    <li>PSB 4731 Biopsychology of Sexual Behavior (3)</li>
								                    <li>PSY 4920 Directed Individual Study (1-6)</li>
								                    <li>CLP 4143 Abnormal Psychology (3)</li>
								                    <li>CBH 4304 Behavioral Genetics (3)</li>
								                    <li>SOP 3004 Social Psychology (3)</li>
								                </ul>
								            </td>    
								        </tr>
								        <tr>
								            <td colspan="2">
								                <ul>
								                    <li><b>Students may substitute one Biological Science Elective course with one of the following:</b></li>
								                    <li>BSC 3052 Conservation Biology (3)</li>
								                    <li>BSC 3312 Marine Biology (3)</li>
								                    <li>PCB 3043 General Ecology (3)</li>
								                    <li>PCB 4674 Evolution (3)</li>
								                </ul>
								            </td>
								        </tr>
								    </tbody>
								    <!--Table body-->

								</table>
								<!--Table-->
		      				</p>
		      			</div>
		      		</div>
		      	</div>

		      	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Academic Maps</a>
						</h2>
					</div>

					<div id="collapse5" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>
		      					<%= link_to 'Behavioral Neuroscience Academic Map', asset_path("BehavNeuroSS.pdf") %>
		      				</p>
		      				<p>
		      					<%= link_to 'Cell and Molecular Neuroscience Academic Map', asset_path("CellMolNeuroSS.pdf") %>
		      				</p>
		      			</div>
		      		</div>
		      	</div>


		    </div>

		</p>
		
		<p class="hub_para"></p>
		
	</div>

	
</div>
