<% provide(:title, "Major Choice") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Which Major Should I Choose?</h1>

		<p>Two majors are offered with the degree, allowing students to customize their coursework and skills towards specific career objectives.  The curriculum for both majors is designed to prepare students to succeed in admissions exams for graduate school (GRE) or a variety of professional schools (MCAT, LSAT, DAT).</p>

		<p class="hub_para">
			<div class="panel-group" id="accordion">

			  	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">The Cell and Molecular Neuroscience Major</a>
						</h2>
					</div>

					<div id="collapse1" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>The Cell and Molecular Neuroscience major emphasizes the development, anatomy, and physiology of the brain. Students in this major take 11 of their 17 degree elective hours in the <%= link_to "Department of Biological Science", 'http://www.bio.fsu.edu', :target => "_blank" %>, where the elective coursework offers a focus that includes genetics, molecular biology, immunology, histology, aging and development, comparative approaches to animal anatomy and behavior, and experimental and human physiology.</p>

		      				<p><u>Biological Science Electives</u>
		      					<ul>
		      						<li>PCB 3063 General Genetics (3)</li>
		      						<li>PCB 4024 Molecular Biology (3)</li>
		      						<li>PCB 4024L Molecular Biology Lab (1)</li>
		      						<li>PCB 4233 Immunology (3)</li>
		      						<li>PCB 4233L Immunology Lab (1)</li>
		      						<li>PCB 4244 Biology of Aging (3)</li>
		      						<li>PCB 4253 Developmental Biology (3)</li>
		      						<li>PCB 4701 Human Physiology (3)</li>
		      						<li>BSC 4731L Experimental Physiology Lab (2)</li>
		      						<li>BSC 4900 Directed Individual Study (1-6)</li>
		      						<li>ZOO 3713C Comparative Vertebrate Anatomy (4)</li>
		      						<li>ZOO 4343C Biol of Lower Vertebrates (4)</li>
		      						<li>ZOO 4353C Biol of Higher Vertebrates (4)</li>
		      						<li>ZOO 4513 Animal Behavior (4)</li>
		      						<li>ZOO 4753C Histology (4)</li>
		      					</ul>
		      				</p>
		      			</div>
		      		</div>
		      	</div>

		      	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">The Behavioral Neuroscience Major</a>
						</h2>
					</div>

					<div id="collapse2" class="panel-collapse collapse">
		      			<div class="panel-body">
		      				<p>The Behavioral Neuroscience major emphasizes systems, organismal, and human-level approaches to the brain. Students in this major take 11 of their 17 degree elective hours in the <%= link_to "Department of Psychology", 'http://psy.fsu.edu', :target => "_blank" %>, where the elective coursework offers a focus that includes the effects of sensory and social experience on brain and behavior, the mechanisms of learning and memory, cognitive processes and emotion, human brain disorders and disease, and the neural and behavioral effects of drugs and hormones.</p>

		      				<p><u>Psychology Electives</u>
		      					<ul>
		      						<li>EXP 3202C Sensation and Perception with Lab (4)</li>
		      						<li>EXP 3422C Conditioning and Learning with Lab (4)</li>
		      						<li>EXP 3604C Cognitive Psychology with Lab (4)</li>
		      						<li>EXP 4640 Psychology of Language (3)</li>
		      						<li>PSB 4006 Social Neuroscience (3)</li>
		      						<li>PSB 4040 Affective Neuroscience (3)</li>
		      						<li>PSB 4240 Neurobiology of Brain Dysfunction (3)</li>
		      						<li>PSB 4447 Psychopharmacology (3)</li>
		      						<li>PSB 4461 Hormones and Behavior (3)</li>
		      						<li>PSB 4710 Biology of Eating Disorders and Obesity (3)</li>
		      						<li>PSB 4731 Biopsychology of Sexual Behavior (3)</li>
		      						<li>PSY 4920 Directed Individual Study (1-6)</li>
		      						<li>CLP 4143 Abnormal Psychology (3)</li>
		      						<li>CBH 4304 Behavioral Genetics (3)</li>
		      						<li>SOP 3004 Social Psychology (3)</li>
		      					</ul>
		      				</p>
		      			</div>
		      		</div>
		      	</div>
		    </div>

		</p>
		
		<p>Students interested in Computational Neuroscience, a growing field that emphasizes the mathematical modeling of neural activity and brain function, should consider a <%= link_to 'Biomathematics Major', 'https://www.math.fsu.edu/~bellenot/StudentResources/Undergrads/BioMath.html' %>, which is offered by the FSU Department of Mathematics.</p>
		
	</div>

	
</div>