<% provide(:title, "Major Choice") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Which Major Should I Choose?</h1>

		<p class="hub_para">Two majors are offered with the degree, allowing students to customize their coursework and skills towards specific career objectives.  The curriculum for both majors is designed to prepare students to succeed in admissions exams for graduate school (GRE) or a variety of professional schools (MCAT, LSAT, DAT).</p>

		<p class="hub_para">
			<div class="panel-group" id="accordion">

			  	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">The Cell and Molecular Neuroscience Major</a>
						</h2>
					</div>

					<div id="collapse1" class="panel-collapse collapse in">
		      			<div class="panel-body">
		      				<p>(offered by the FSU Department of Biological Science) emphasizes the development, anatomy, and physiology of the brain.  Students in this major take 11 of their 17 degree elective hours in the Department of Biological Science.  The Cell and Molecular Neuroscience major prepares students for a variety of bachelor’s level careers, postgraduate careers in Neuroscience research and/or education, or health-professional careers in Neurology, Anesthesiology, Pharmacy, Biomedical Engineering, or Dentistry.</p>

		      				<p>
		      				<bold>Graduation Requirements Summary</bold>
		      					<ul>
									<li>Total Hours Required:  120</li>
									<li>Liberal Studies:  36 Hrs (take PSY 2012 as part of Liberal Studies, which fulfills Liberal Studies Social Science requirement)</li>
									<li>Prerequisite Coursework: 40 Hrs (13 Hrs of the Prerequisite Coursework also fulfill Liberal Studies requirement)</li>
									<li>Major Coursework: 30 Hrs</li>
									<li>Minor Coursework:  0 (none beyond collateral science coursework, which constitutes a minor)</li>
									<li>Foreign Language:  0-12 Hrs (College of Arts and Sciences Requirement)</li>
									<li>Computer Skills:  BSC 2010L or PSY 3213C</li>
									<li>Oral Communication Competency:  BSC 3402L</li>
									<li>Scholarship in Practice:  BSC 2011/L and PSY 3213C</li>
									<li>Cross Cultural & Diversity:  Combine with E-series courses (IFS) to fulfill Liberal Studies requirement.</li>
									<li>Natural Science Laboratory: CHM 1045L</li>
									<li>Upper Division Writing Competency:  BSC 3402L or PSY 3213C</li>
								</ul>
		      				</p>
		      			</div>
		      		</div>
		      	</div>

		      	<div class="panel panel-default">
				    <div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">The Behavioral Neuroscience Major</a>
						</h2>
					</div>

					<div id="collapse2" class="panel-collapse collapse in">
		      			<div class="panel-body">
		      				<p>(offered by the FSU Department of Psychology) emphasizes systems, organismal, and human-level approaches to the brain.  Students in this major take 11 of their 17 degree elective hours in the Department of Psychology.  The Behavioral Neuroscience major prepares students for a variety of bachelor’s level careers, postgraduate careers in Neuroscience research and/or education, health-professional careers in Psychiatry, Neuropsychology, or Clinical Psychology, as well as professional careers in Economics, Business, or Law.</p>

		      				<p>
		      				<bold>Graduation Requirements Summary</bold>
		      					<ul>
									<li>Total Hours Required:  120</li>
									<li>Liberal Studies:  36 Hrs (take PSY 2012 as part of Liberal Studies, which fulfills Liberal Studies Social Science requirement)</li>
									<li>Prerequisite Coursework: 40 Hrs (13 Hrs of the Prerequisite Coursework also fulfill Liberal Studies requirement)</li>
									<li>Major Coursework: 30 Hrs</li>
									<li>Minor Coursework:  0 (none beyond collateral science coursework, which constitutes a minor)</li>
									<li>Foreign Language:  0-12 Hrs (College of Arts and Sciences Requirement)</li>
									<li>Computer Skills:  BSC 2010L or PSY 3213C</li>
									<li>Oral Communication Competency:  BSC 3402L</li>
									<li>Scholarship in Practice:  BSC 2011/L and PSY 3213C</li>
									<li>Cross Cultural & Diversity:  Combine with E-series courses (IFS) to fulfill Liberal Studies requirement.</li>
									<li>Natural Science Laboratory: CHM 1045L</li>
									<li>Upper Division Writing Competency:  BSC 3402L or PSY 3213C</li>
								</ul>	
		      				</p>
		      			</div>
		      		</div>
		      	</div>
		    </div>

		</p>
		
		<p class="hub_para">Students interested in Computational Neuroscience, a growing field that emphasizes the mathematical modeling of neural activity and brain function, should consider a <%= link_to 'Biomathematics Major', 'https://www.math.fsu.edu/~bellenot/StudentResources/Undergrads/BioMath.html' %>, which is offered by the FSU Department of Mathematics.</p>
		
	</div>

	
</div>