<% provide(:title, "Career Pathways") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Career Pathways</h1>

		<p>The unique multi-disciplinary breadth of the Neuroscience degree prepares students for a wide variety of STEM-related careers as technicians, researchers, educators, or health and human-centered professionals.  While understanding human brain function (in health and disease) has long been of central importance to physicians, psychologists, researchers, and educators, the knowledge accruing from this effort is beginning to impact bioethics, computer science, and biomedical engineering.  Importantly, brain science is also playing a new and emerging role in traditionally non-STEM professions such as law, business, or economics.  Thus, depending on their chosen path after graduation, students who earn a degree in Neuroscience have the following career options:</p>

		<p><b>Bachelor’s Level Careers</b> ($30-50K annual salary, USBLS entry level).  Eligible for entry-level positions as Laboratory Technician, Lab Animal Care Technician, Medical Technician*, Pharmaceutical Salesperson, Psychometrist*, Clinical Research Associate, EEG Technologist*, Forensic Science Technician, Science Writer, Regulatory Affairs Specialist, Quality Control Manager, Health Educator, Substance Abuse Counselor*, Psychiatric Technician, Sales Engineer, Training Specialist*, Natural Sciences Manager, Public Relations, Advertising/Marketing.</br>
		 <small>*Careers that may require additional training or certification</small></p>
		
		<p><b>Master’s Level Careers</b> ($50-80K annual salary, USBLS entry level).  Eligible to apply for specialized training and career as Nurse Practitioner, Neuroimaging Technician, Physician’s Assistant, Applied Behavior Analyst, Anesthesiologist Assistant, Genetic Counselor, Epidemiologist, Occupational Therapist, Community College Professor, Biostatistician, Orthotist/Prosthetist, Speech-Language Pathologist, Public Health</p>

		<p><b>Careers Requiring an Advanced Degree</b> ($80-180K+ annual salary, USBLS entry level).  Eligible to apply for specialized training and career as Research Scientist, University Professor (research + teaching), College Professor (teaching), Medical Doctor (Psychiatrist, Neurologist, Anesthesiologist), Bioethicist, Biomedical Engineer, Computational Scientist, Pharmacist, Dentist, Veterinarian, Physical Therapist, Food Scientist, Audiologist, Optometrist, Lawyer, Economist, Clinical Psychologist, Neuropsychologist</p>
		
	</div>

	
</div>