<% provide(:title, "Coursework Sequence") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Coursework Sequence</h1>

		<p class="hub_para"></p>

		<p class="hub_para"></p>
		
		<p class="hub_para"></p>
		
	</div>

	
</div>