<% provide(:title, "What Is") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>What Is Neuroscience?</h1>

		<p>Neuroscience is the study of brain and nervous system function. The undergraduate degree offers students the opportunity to synthesize knowledge across the natural and social sciences – exploring the elaborate chains of causality that lead from molecules to behavior, as well as the dramatic impact exerted by social, personal, and environmental influences on dynamic patterns of human thought and emotion. Students will experience a unique synthesis of coursework offered by the FSU Departments of Biological Science, Psychology, Chemistry, Physics, Mathematics, and Statistics.</p>

		<p>Click through the questions listed below to understand the essential role played by each discipline in the Neuroscience curriculum.</p>

		<p class="hub_para">
			<div class="panel-group" id="accordion">

		  	<div class="panel panel-default">
			    <div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Why emphasize Biology?</a>
					</h2>
				</div>

				<div id="collapse1" class="panel-collapse collapse">
	      			<div class="panel-body">
	      				<p>The brain is the object under study.  Biology prepares students to think about the brain as an organ, made of cells, with a physiology and evolutionary history that is deeply conserved across animal taxa.  Biology also prepares students to think about how cell/molecular/genetic functions of the brain emerge over development and are expressed across the lifespan.  The brain is considered the master organ, necessary to integrate the activity of the multitude of cell and organ systems within the body to produce a coherent, individual organism.  If the body is the symphony orchestra, the brain is the conductor.</p>
	      			</div>
	      		</div>
	      	</div>

	      	<div class="panel panel-default">
			    <div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Why emphasize Psychology?</a>
					</h2>
				</div>

				<div id="collapse2" class="panel-collapse collapse">
	      			<div class="panel-body">
	      				<p>A key function of the brain is to direct an organism’s behavior with reference to the physical and social environment. These externally-focused integrative functions of the brain are the domain of Psychology and include processes of sensation and perception, learning and memory, emotion, cognition, and the control of involuntary and voluntary behaviors. Psychology also provides students with expertise in the controlled presentation of physical or social stimuli, measurement of behavior, and psychophysical methods to infer mental processes or emotional states from behavior.</p>
	      			</div>
	      		</div>
	      	</div>

	      	<div class="panel panel-default">
			    <div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Why emphasize Chemistry?</a>
					</h2>
				</div>

				<div id="collapse3" class="panel-collapse collapse">
	      			<div class="panel-body">
	      				<p>Chemistry prepares students to think about the major independent variables of brain activity.  That is, the electrical response of any given neuron depends on the local chemical environment – the concentrations of ions, neurotransmitters released by other neurons, or hormones released by the brain and peripheral glands.  Chemistry coursework also prepares students to think about the ions and molecules that stimulate the chemical senses (taste and smell) and govern ingestive behavior and nutrition, as well as to understand the dynamic effects of pharmacological (drugs) and endocrinological (hormones) agents on neural, behavioral, and mental function.</p>
	      			</div>
	      		</div>
	      	</div>

	      	<div class="panel panel-default">
			    <div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Why emphasize Physics?</a>
					</h2>
				</div>

				<div id="collapse4" class="panel-collapse collapse">
	      			<div class="panel-body">
	      				<p>Physics prepares students to understand the unique passive and active electrical properties of neurons. The action potential, a rapid reversal of the sign of the voltage inside a neuron (-/+/-), is the fundamental unit of information in the brain. Physics coursework also prepares student to think about how to quantify and manipulate physical stimuli for the visual, auditory, vestibular, cutaneous, and kinesthetic senses.</p>
	      			</div>
	      		</div>
	      	</div>

	      	<div class="panel panel-default">
			    <div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Why emphasize Mathematics?</a>
					</h2>
				</div>

				<div id="collapse5" class="panel-collapse collapse">
	      			<div class="panel-body">
	      				<p>Calculus provides students with an understanding of the mathematics of change over time, as well as the concept of integration, which is essential for modeling brain function.  Whether one is thinking about the activity of a single neuron, a network of neurons, neurotransmitter or hormonal signaling, mental processes, or behavior – all are characterized by dynamic change over time and all involve integration of multiple variables.</p>
	      			</div>
	      		</div>
	      	</div>

	      	<div class="panel panel-default">
			    <div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Why emphasize Statistics?</a>
					</h2>
				</div>

				<div id="collapse6" class="panel-collapse collapse">
	      			<div class="panel-body">
	      				<p>Statistics provides students with the tools to collect, analyze, interpret, and present scientific data.  Of critical importance is an understanding of the assumptions required for the validity of statistical inference.</p>
	      			</div>
	      		</div>
	      	</div>
	      </div>

		</p>
		
		<p class="hub_para"></p>
		
	</div>

	
</div>