<% provide(:title, "Distinguished Graduates") %>
<h1>List of Distinguished Graduates</h1>

	<div class="filter btn btn-default btn-directory active"><%= link_to "New entry", new_sekret_disgrad_path %></div>


