<% provide(:title, "Contact Us") %>

<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('banners/rushton_b.jpg') %>
	</div>
	<div id="hub_text">
		
		<h1> </h1>
		<p></p>

		
	</div>

</div>