<% provide(:title, "History") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h2>History of the FSU Neuroscience Program</h2>

		<br />

		<h4>The First and Only Ph.D. in Neuroscience Offered by a Florida Public University</h4>
		
		<p>The Neuroscience Program at Florida State University had its beginnings in the mid-1960s as a spontaneous assembly of biologists and psychologists sharing common interests in sensory processes. Over subsequent years this group grew steadily in size and diversity of research interests, and the training program became more formalized. Development of the program, initially called Psychobiology, was accelerated by Research Center and Training Grants awarded by the National Institutes of Health and by a Science Development Grant from the National Science Foundation. In 1991, the Florida Board of Regents approved a new Ph.D. Degree in Neuroscience at Florida State University, and the first degree was granted in that year. To this day, Florida State University continues to offer the only Ph.D. in Neuroscience in the State University System of Florida.</p>
		
		<h4>The Florida State University College of Medicine Joins the Doctoral Program</h4>

		<p>Originally organized as an interdisciplinary graduate degree program administered by the <%= link_to 'Florida State University College of Arts and Sciences', 'http://artsandsciences.fsu.edu/', :target => "_blank" %>, in 2009 the <%= link_to 'Florida State University College of Medicine', 'http://med.fsu.edu/', :target => "_blank" %> joined the program and also began to offer the Ph.D. Degree in Neuroscience.  Presently, graduate students can pursue the degree under the mentorship of over 30 Neuroscience faculty located in the Departments of Biological Science, Biomedical Sciences, Psychology, and Mathematics.</p>

		<h4>The First and Only Bachelor’s Degree in Neuroscience Offered by a Florida Public University</h4>

		<p>In 2018, the State University System of Florida approved a new Bachelor’s Degree in Neuroscience at Florida State University, the first undergraduate degree in Neuroscience at any Florida Public University.  Undergraduate students can now pursue the focused study of the brain, preparing themselves for a variety of STEM-related careers that include scientific research and/or education, all health professions, biomedical engineering, computer and cognitive science, as well as several human-centered professions such as law and economics.  Students are offered the choice of majoring in Cell and Molecular Neuroscience or Behavioral Neuroscience, allowing them to customize coursework and skills towards specific career objectives.</p>

		<h4>The Future</h4>

		<p>No one could have anticipated that disease or injury of the brain would be so difficult to treat.  The lack of effective treatments for Alzheimer’s Disease, Parkinson’s Disease, ALS, schizophrenia, depression, TBI (just to name a few) is not for lack of trying.  What has been missing is the focused training in Neuroscience that is necessary to prepare young scientists, educators, and professionals for success.  By offering both undergraduate and graduate degrees in Neuroscience, Florida State University aims to prepare students for careers where they will be the first to successfully address the difficult problems of brain health and disease. 
		</p>

	</div>
</div>