<% provide(:title, "History") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h2>History of the FSU Neuroscience Program</h2>

		<br />

		<h4>The First and Only Neuroscience Ph.D. Offered by a Florida Public University</h4>
		
		<p>The Neuroscience Program at Florida State University had its beginnings in the mid-1960s as a spontaneous assembly of biologists and psychologists sharing common interests in sensory processes. Over subsequent years this group grew steadily in size and diversity of research interests, and the training program became more formalized. Development of the program, initially called Psychobiology, was accelerated by Research Center and Training Grants awarded by the National Institutes of Health and by a Science Development Grant from the National Science Foundation. In 1991, the Florida Board of Regents approved a new Ph.D. Degree in Neuroscience at Florida State University, and the first degree was granted in that year. To this day, Florida State University continues to offer the only Ph.D. Degree in Neuroscience in the State University System of Florida.</p>
		
		<h4>Recent Expansion – The Florida State University College of Medicine Joins the Program</h4>

		<p>Originally organized as an interdisciplinary graduate degree program administered by the <%= link_to 'Florida State University College of Arts and Sciences', 'http://artsandsciences.fsu.edu/', :target => "_blank" %>, in 2009 the <%= link_to 'Florida State University College of Medicine', 'http://med.fsu.edu/', :target => "_blank" %> joined the program and also began to offer the Ph.D. Degree in Neuroscience.  Presently, graduate students can pursue the degree under the mentorship of 30 Neuroscience faculty located in the Departments of Biological Science, Biomedical Science, and Psychology.</p>

		<h4>A History of Doctoral Training Opportunities</h4>
		<p>Many of the program’s students are supported by a long-running NIH training grant in the chemical senses, a recent NIH training grant in interdisciplinary clinical neuroscience, as well as Neuroscience Fellowships funded by the College of Arts and Science and the College of Medicine.  Moreover, our students have been highly competitive in obtaining individual pre- and post-doctoral NRSA fellowships from the NIH and pre-doctoral fellowships from the NSF.  Our work is your success.</p>

	</div>
</div>