<% provide(:title, "Why Neuro") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h2>Why Neuroscience?</h2>

		<br />
		
		<p>The brain is at the center of some of the most deeply profound questions in science. Its activity somehow supports the experience of human consciousness, shared by all, while also generating a diversity of mental states so vast that we are each a unique individual. However, the brain also lies at the root of some of humankind’s greatest afflictions and miseries – dementia, depression, schizophrenia, and all manner of traumatic brain injuries. These imperatives, scientific fascination and the mitigation of human misery, drive the need to study the brain.</p>

		<p>International, national, and local consensus is clear on the critical need to expand our knowledge of brain function. In recent years, the European Union, the United States of America, Japan, and China have all launched funding initiatives designed to unlock the brain’s secrets.  In 2013, Florida State University also recognized the importance of expanding our knowledge of brain function, launching the Strategic Hiring Initiative in Brain Health and Disease.</p>

		<p>Each of the above funding initiatives have two broad aims:</p>

		<p class="hub_para">
			<div class="panel-group" id="accordion">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Address the Social and Economic Burden of Brain Disease and Injury </a>
						</h2>
					</div>

					<div id="collapse1" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<p>Brain diseases, along with traumatic brain injuries and stroke, are an enormous social and economic burden on our society. Because most brain disorders are chronic and incurable their financial and personal effects accumulate and worsen over decades and entire human lifetimes. Disease or injury of higher brain regions is particularly devastating. Individuals are robbed of the very characteristics that define them as human beings – perception, thought, memory, emotion. No other type of organ disease or injury is as cruel.</p>

							<p>In order to compare the impact of different disease states, the World Health Organization (WHO) developed three metrics to judge relative disease burden:</p>
								<ul>
									<li>Disability adjusted life years (DALY)</li>
									<li>Years of life lost (YLL)</li>
									<li>Years lived in less than ideal health (YLD)</li>
								</ul>
							    </br>

							<p>The Institute for Health Metrics and Evaluation applied the WHO metrics to compare the impact of various disease in the United States (<%= link_to 'www.healthdata.org/united-states', 'http://www.healthdata.org/united-states', :target => "_blank" %>). Diseases where the brain plays a direct or complicit role account for 5 of the top 10 leading causes of DALYs (pain, depressive disorders, diabetes, Alzheimer’s disease, sense organ disease), 5 of the top 10 leading causes of YLLs (Alzheimer’s disease, traumatic brain injury, self-harm, diabetes, drug addiction), and 5 of the top 10 leading causes of YLDs (pain, depressive disorders, sense organ disease, anxiety disorders, diabetes, migraine). No other body organ is featured as prominently or as broadly in all three of the metrics.</p>

							<p>In part, the startling prominence of brain dysfunction in each of the WHO metrics (DALY, YLL, YLD) is an indication of the remarkable success of science in addressing other types of disease, particularly heart, cerebrovascular, and lung disease, as well as numerous infectious diseases. However, it is also an indication of the need to train students for careers where they will be prepared to tackle and solve the unique problems of brain dysfunction. By offering a Ph.D. in Neuroscience, we seek to address this need.</p>
			      		</div>
			      	</div>
			    </div>

			    <div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Generalize the Principles of Normal Brain Function to Stimulate Technological and Economic Innovation</a>
						</h2>
					</div>

					<div id="collapse2" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<p>The only body organ wholly encased in bone, the brain floats quietly in total darkness, bathed in a briny fluid. Yet its activity somehow constitutes the reality of ourselves, of others, and of the world we experience. This is known from human individuals who have experienced brain disease or injury, and from a great number of experimental studies across a wide variety of animal species. Little, however, is known about how the normal, healthy activity of billions of neurons gives rise to the brain’s multitude of functions. Some functions are thought to be massively integrative and computational in nature (e.g., balancing nutrient intake and metabolism to maintain a stable body mass over time). Other functions remain mysterious, such as how brain activity creates motivation, sentience, or the thinking human mind.</p>

							<p>Knowledge of the operating principles of the normal human brain will reveal the origins and mechanisms of the staggering diversity of human mental states, as well as the neural antecedents of human planning, choice, and action. However, an understanding of normal brain function will also stimulate technological and economic innovation centered around the improvement of human mental and physical performance, computer and information technologies, and robotics. Brain-computer interfaces will provide an unusually fertile ground for future technological and economic innovation.</p>

							<p>While it is sometimes thought that a purely scientific understanding of normal function will have little impact on human disease, this view is incorrect, particularly with respect to brain function. Human deafness provides a relevant example. Currently, the only available treatment for inner ear deafness is the cochlear implant, an electronic brain-computer interface that replicates the normal function of the inner ear. The development of this device would not have been possible without an understanding of the normal function of the inner ear. This understanding emerged only after decades of careful study in animals and humans. Once the underlying principles of normal function were fully understood, the path was clear to replicate these principles in silicon and turn the vision of the cochlear implant into reality. As of 2012, over 324,000 people are able to hear again as a result of the hard-won understanding of normal auditory function, which in turn drove the development of the cochlear implant.</p>

							<p>Similar progress, driven by a scientific understanding of normal brain function, has produced a device for the treatment of retinal blindness and may soon offer devices for the treatment of quadriplegia (limb paralysis) and amnesia (memory loss due to brain disease or injury). Work on all devices of this type begins with a basic scientific understanding of normal brain function. By offering a Ph.D. in Neuroscience, we seek to prepare students for professional and entrepreneurial careers where the principles of normal human brain function are generalized to drive technological and economic innovation.</p>
			      		</div>
			      	</div>
			    </div>
			</div>

		</p>

	</div>
</div>