<% provide(:title, "Photography and Illustration") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Graphics Lab Photography/Illustration Services:</h2>

				<h3 class="hub_para">Schematic Illustration</h3>
				<p class="hub_para">Design custom cartoons and schematic diagrams to display data and illustrate concepts for publications or grants. Made to specification of each journal’s “instructions to authors”. Just roughly sketch out concepts you want illustrated and arrange a time to meet and discuss how best to graphically convey the information.</p>
				<div class="hub_para">
				  <%= image_tag("illpho_1.jpg") %>
				</div>

				<h3 class="hub_para">Photographic Editing</h3>
				<p class="hub_para">Edit photographic images for use in publication and grant submissions. Combine images into multi-panel figures. Adjust color, contrast, resolution and size to meet journal specifications. Color convert red/green confocal images to improve accessibility. Combine photos, graphs and schematics with labels for figure layout. Create photo-illustrations for cover submissions.</p>
				<div class="hub_para">
				  <%= image_tag("illpho_2.jpg") %>
				</div>

				<h3 class="hub_para">On-Location Photography</h3>
				<p class="hub_para">Specimen, apparatus and documentation photography service can be scheduled. This includes special events, lab group and individual portraits.</p>
				<div class="hub_para">
				  <%= image_tag("illpho_3.jpg") %>
				</div>
				
				<h3 class="hub_para">Other Services</h3>
				<p class="hub_para">Flyer/Poster/Brochure design, Adobe software consultation, ink-jet and laser printing, flatbed scanning, page-layout (pre-print) and poster printing. Click here for information on preparing files for poster printing.</p>
			</div>


	</div>

	
</div>