<% provide(:title, "New Neuro Faculty and Staff") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Getting set up as a New Neuroscience Faculty or Staff:</h2>

				<h3 class="hub_para">First you must get your FSU.EDU email set before you move forward.</h3>

				<p class="hub_para">You must have an active fsu.edu account to establish a neuroscience email account.  Log on to my.fsu.edu. Click on the link on the left hand side for FSUID Identity Management.  Activate your fsu.edu account.  Once completed, your neuroscience account can be established. If you do not have an option to activate this account, contact the departmental personnel in charge of your appointment and make sure you are in the system for a faculty/staff email account. </p>
				
				<p class="hub_para">Once your fsu.edu account is established, you or your PI may open a support ticket with the following information:
					<ul class="hub_para">
						<li>Full name of new Faculty or Staff member</li>
						<li>Name of PI (if you have one)</li>
						<li>Office or Lab Location (Building Code and Room number)</li>
						<li>Office or Lab Phone Number</li>
						<li>FSU.EDU email address (see above)</li>
						<li>Status (Faculty, Staff, Lab Manager, etc)</li>
						<li>PUBMED ID and/or any other </li>
					</ul>
				</p>

				<p class="hub_para">
					If you would like a Personal Lab or Personal Research Website, please add this to the ticket above or create a new ticket along with the desired name of the website. Current examples are: <%= link_to 'birdsong.neuro.fsu.edu', 'http://birdsong.neuro.fsu.edu/' %> or <%= link_to 'dfadool.neuro.fsu.edu', 'http://dfadool.neuro.fsu.edu/' %> This is a Drupal Website you or your lab personnel will be in charge of setting up and updating. There are available tutorials and personal assistance if needed.
				</p>

				<p class="hub_para">
					Please contact <%= mail_to "support@neuro.fsu.edu" %> with questions or concerns.
				</p>

				<p class="hub_para">
					<%= link_to 'Open a ticket', '/tickets/new' %>
				</p>
				
				
			</div>


	</div>

	
</div>