<% provide(:title, "New Neuroscience Peoples") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Requesting and Setting up new people in your lab:</h2>
				<p class="hub_para">Please open a support ticket with the following information:
					<ul class="hub_para">
							<li>Full name of new student/postdoc/lab personel</li>
							<li>Name of PI</li>
							<li>Office or Lab Location (Building Code and Room number)</li>
							<li>Office or Lab Phone Number</li>
							<li>FSU.EDU email address (For students, this is not their my.fsu.edu address)</li>
							<li>Status (Grad, Postdoc, etc)</li>
							<li>PUBMED author name (i.e. LA</li>
						</ul>
				</p>
				

				<h2 class="hub_para">Must Have the New User's FSU.EDU email set before they can be added</h2>
				<p class="hub_para"></p>
				
				<p class="hub_para"></p>

				<p class="hub_para"></p>

				<p class="hub_para"></p>
				
				
			</div>


	</div>

	
</div>