<% provide(:title, "Poster Printing") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Graphics Lab Poster Printing Information</h2>

				<h3 class="hub_para">Posters</h3>
				<p class="hub_para">Poster Printing is a service available to all Program in Neuroscience members (i.e., individuals listed in the Neuroscience Directory). Please allow a 24-48 hour turnaround time. If the poster is in conjunction with a busy event, such as Society for Neuroscience or AChemS meetings, turnaround time may be longer.</p>
				<div class="hub_para">
				  <%= image_tag("poster_1.jpg") %>
				</div>

				<h3 class="hub_para">Poster Preparation</h3>
				<p class="hub_para">Posters should be created using either Microsoft PowerPoint or Adobe Illustrator. (Please check that you are using the most recent and updated version of the programs.) Posters made in Corel Draw or Microsoft Publisher cannot be opened correctly on my end. If using Adobe Illustrator, make sure the document Color Mode is set to RGB, and your “Artboard” is set to the size of the poster.</p>
				
				<p class="hub_para">Our normally stocked poster paper is HP Heavyweight Glossy 36” roll media.  Common poster sizes are 36” x 48”, 36” x 54” and 36” x 56”.  Please size your poster accordingly. PowerPoint has a slide size limit of 56”, however posters made with Adobe Illustrator can be wider. Please design your poster so it does not abut the edge of the PowerPoint slide or Illustrator artboard; allow at least a ½” border on all sides. It is possible to print to 42” wide media, but please check with Charles first that we have the size paper in stock.</p>
				
				<p class="hub_para">File Formats: </br>
					<bold>For PowerPoint users - please send both the native PPTX file and a PDF version.</bold> </br>
						For posters made with Illustrator, just send a PDF. </br>
						In Illustrator go File > Save As and choose Adobe PDF, use the Default PDF settings. </br>
						In PowerPoint, go File > Save As and choose PDF. Do not “Print” to PDF, this can create very pixelated images in your poster. <bold>Please include your last name</bold> (or PI’s name) in the file name, such as “AChemS_2019_dfadool.pptx”
				</p>

				<p class="hub_para">Our large-format poster printer is an HP Designjet Z2100.  The paper used is a glossy, fade-resistant, heavyweight 36” X 100’ roll media. The material cost to the Program is about $4/linear foot, so please proof your poster carefully before submitting. Advanced special requests can be made for 42” poster media.</p>

				<p class="hub_para">Getting your files to me:<br>If your posters are under 20MB, you can just attach them to an email to <%= mail_to "badland@neuro.fsu.edu", "Charles Badland" %>.  For posters over 20MB, please use the <%= link_to "FSU Dropbox Service", 'https://dropbox.fsu.edu', :target => "_blank" %>. <br>(Note: Login to the FSU Dropbox site FIRST with your FSUID and password, THEN follow instructions for up-loading files. Ignore the “Request Code” input field.)
</p>

				<p class="hub_para">Please contact me with any questions about preparing posters, inserting pictures, obtaining FSU Seals and Neuroscience Logos, or any other poster printing inquiries.</p>

				<p class="hub_para">
					<%= link_to "Open a ticket", '/tickets/new' %>
				</p>
			</div>


	</div>

	
</div>