<% provide(:title, "Poster Printing") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Graphics Lab Poster Printing Information</h2>

				<h3 class="hub_para">Posters</h3>
				<p class="hub_para">Poster Printing is a service available to all Program in Neuroscience members. Please allow a 24-48 hour turnaround time. If the poster is in conjunction with a busy event, such as Society for Neuroscience or AChemS meetings, turnaround time may be longer.</p>
				<div class="hub_para">
				  <%= image_tag("poster_1.jpg") %>
				</div>

				<h3 class="hub_para">Poster Preparation</h3>
				<p class="hub_para">Posters should be created using either Microsoft PowerPoint or Adobe Illustrator. (Please check that you are using the most recent and updated version of the programs.) If you are building your poster in Adobe Illustrator, good for you! For Illustrator users: make sure the document Color Mode is set to RGB, create your “Artboard” to the size of the poster, and please make sure all graphics are “embedded”, not “linked” to your AI file. (If you have any questions about how to do those things in AI, just drop me an email.) PLEASE NOTE:  Files made in Corel Draw or Microsoft Publisher cannot be opened correctly on my end for poster printing.</p>
				
				<p class="hub_para">Our large-format poster printer is an HP Designjet Z2100.  The paper used is a glossy, fade-resistant, heavyweight 36” X 100’ roll media.  When creating your posters, please set the Page Setup dimensions to 36 inches by however wide you want your poster to print (usually between 48” to 56”, although we can print wider). <br>The material cost to the Program is about $4/linear foot, so please proof your poster carefully before submitting. <b>Advanced special requests can be made for 42" poster media.</b></p>
				
				<p class="hub_para">To reduce chances of rendering irregularities on my end, please send both the native file (AI or PPTX) and a PDF version of your poster.  To make a PDF (from either PowerPoint or Illustrator) just go File>Save As and choose PDF as the format.  DO NOT “Print” to PDF, this can create very pixelated images in your poster. Also, it helps to include your name (or part of your name) in the file name, such as “AChemS_1_2017_yourname.pptx”</p>

				<p class="hub_para">Getting your files to me:<br>If your posters are under 20MB, you can just attach them to an email to <%= mail_to "badland@neuro.fsu.edu", "Charles Badland" %>.  For posters over 20MB, please use the <%= link_to "FSU Dropbox Service", 'https://dropbox.fsu.edu', :target => "_blank" %>. <br>(Note: Login to the FSU Dropbox site FIRST with your FSUID and password, THEN follow instructions for up-loading files. Ignore the “Request Code” input field.)
</p>

				<p class="hub_para">Please contact me with any questions about preparing posters, inserting pictures, obtaining FSU Seals and Neuroscience Logos, or any other poster printing inquiries.</p>

				<p class="hub_para">
					<%= link_to "Open a ticket", '/tickets/new' %>
				</p>
			</div>


	</div>

	
</div>