<% provide(:title, "Florida Sunshine Law") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			
			<div id="hub_text">
				<h2 class="hub_para">Florida's Sunshine Law</h2>

				<h3 class="hub_para">What this means for FSU Neuroscience Faculty, Staff and Students:</h3>
				<p class="hub_para">Email and Public Records:
						<ul class="hub_para">
							<li>Emails sent or received in connection with official university business are most likely public records and must be managed in accordance with applicable laws, regulations, and university policies.</li>
							<li>Student emails are generally protected by federal and state privacy laws, but might be considered public records under certain circumstances.</li>
							<li>Under university policy, you may establish individual forwarding rules to a private account. However, if you use a private account for correspondence related to university business, a copy of the relevant emails must be sent to your primary university email account.</li>
							<li>Email is subject to the State’s record retention schedules; they should only be deleted or destroyed if allowed by those retention requirements.</li>
						</ul>

				</p>

				<h3 class="hub_para"><%= link_to 'Here is the University policy via the FSU General Counsel', 'http://policies.vpfa.fsu.edu/policies-and-procedures/technology/electronic-mail-policy', :target => "_blank" %></h3>
				
				<h3 class="hub_para">Florida's Sunshine and Open Records laws require disclosure by government entities of information that might not otherwise be available through the discovery process.</h3>
				<p class="hub_para">SECTION 24. Access to public records and meetings.—</p>
				<p class="hub_para">(a) Every person has the right to inspect or copy any public record made or received in connection with the official business of any public body, officer, or employee of the state, or persons acting on their behalf, except with respect to records exempted pursuant to this section or specifically made confidential by this Constitution. This section specifically includes the legislative, executive, and judicial branches of government and each agency or department created thereunder; counties, municipalities, and districts; and each constitutional officer, board, and commission, or entity created pursuant to law or this Constitution.</p>
				<p class="hub_para">(b) All meetings of any collegial public body of the executive branch of state government or of any collegial public body of a county, municipality, school district, or special district, at which official acts are to be taken or at which public business of such body is to be transacted or discussed, shall be open and noticed to the public and meetings of the legislature shall be open and noticed as provided in Article III, Section 4(e), except with respect to meetings exempted pursuant to this section or specifically closed by this Constitution.</p>
				<p class="hub_para">(c) This section shall be self-executing. The legislature, however, may provide by general law passed by a two-thirds vote of each house for the exemption of records from the requirements of subsection (a) and the exemption of meetings from the requirements of subsection (b), provided that such law shall state with specificity the public necessity justifying the exemption and shall be no broader than necessary to accomplish the stated purpose of the law. The legislature shall enact laws governing the enforcement of this section, including the maintenance, control, destruction, disposal, and disposition of records made public by this section, except that each house of the legislature may adopt rules governing the enforcement of this section in relation to records of the legislative branch. Laws enacted pursuant to this subsection shall contain only exemptions from the requirements of subsections (a) or (b) and provisions governing the enforcement of this section, and shall relate to one subject.</p>
				<p class="hub_para">(d) All laws that are in effect on July 1, 1993 that limit public access to records or meetings shall remain in force, and such laws apply to records of the legislative and judicial branches, until they are repealed. Rules of court that are in effect on the date of adoption of this section that limit access to records shall remain in effect until they are repealed.</p>
				

				
			</div>


	</div>

	
</div>