<% provide(:title, "Web Services") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			<div class="hub_header_image">
				<%= image_tag('banners/web_b.jpg') %>
			</div>
			<div id="hub_text">
				<h2 class="hub_para">Neuroscience Website</h2>
				<p class="hub_para">Our program controls and maintians our program's website. It is controlled by our system administator Jason Orman. If you need any help concerning your personal page, please <%= link_to "open a support ticket", '/tickets/new' %> and list any changes you need made.</p>
				

				<h2 class="hub_para">Extended Lab and Personal Web Options</h2>
				<p class="hub_para">If you require a personal/lab website connected to the neuroscience website please <%= link_to "open a support ticket", '/tickets/new' %> and we will get you set up with a Drupal site. When you do, please let us know if your site is for a personal, lab or group page.</p>
				
				<p class="hub_para">The Drupal sites are in a format much like Microsoft Word. You will be able to add pages, text and images as you need.</p>

				<p class="hub_para">Please watch the following video to learn more about this option.</p>

				<p class="hub_para"><%= link_to "Drupal Tutorial Videos", 'http://its.fsu.edu/service-catalog/communication-collaboration/its-web-services/web-cms/training-for-drupal', :target => "_blank" %></p>
				
				
			</div>


	</div>

	
</div>