<footer class="footer">
  <small>
    The <a href="http://www.fsu.edu/">Florida State University</a> <%= link_to "Neuroscience Program", '/' %>
    ©copyright 2015.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Login", sekret_people_path %></li>
      <li><a href="https://webmail.neuro.fsu.edu">Webmail</a></li>
      <li><%= link_to "Calendar",   'http://calendar.fsu.edu/Lists/Program%20in%20Neuroscience/calendar.aspx' %></li>
    </ul>
  </nav>
</footer>