

  <header>
    <div class="container">
      <div class="inner">
        Florida State University
        <a href="http://www.fsu.edu", target= "_blank" ><span class="logo"></span></a>
      </div>
    </div>
  </header>
  